.profileImage{
height: 150%;
}

.imageDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 100%;
    overflow: hidden;
}

.textDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profileDiv{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    align-items: center;
}